/* Fuentes */

@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Book.ttf")
}

/* Reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* Generales */

html {
    font-size: 22px;
}

@media (min-width: 1440px) {
    html {
        font-size: 24px;
    }
}

@media (max-width: 760px) {
    html {
        font-size: 20px;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    color: #67666e;
}

p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

/* Componente Header */

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: white;
    transition: all 300ms linear;
}

header.transparent {
    background-color: transparent;
}

header img {
    height: 60px;
    width: auto;
}

header nav a {
    color: #67666e;
    margin-left: 1rem;
}

header.transparent nav a {
    color: rgba(255, 255, 255, 0.8);
}

header nav a.active, 
header nav a:hover {
    color: #a97c50;
    font-weight: bold; /*Pendiente añadir fuente bold*/
}

header.transparent nav a.active, 
header.transparent nav a:hover {
    color: white;
}

@media (max-width: 620px) {

    header {
        justify-content: flex-end;
    }

    header nav {
        display: none;
    }
}

/* Componente burger */

.burger {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    z-index: 20;
    display: none;
}

.burger .bar {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: #a97c50;
    transition: all 600ms ease-in-out;
}

.burger.open .bar {
    background-color: white;
}

.burger.open .bar.top {
    transform: translateY(8px) rotateZ(45deg);
}

.burger.open .bar.medium {
    width: 0;
}

.burger.open .bar.bottom {
    transform: translateY(-8px) rotateZ(-45deg);
}


@media (max-width: 620px) {
    .burger {
        display: block;
    }
}

/* Componente aside */

aside {
    width: 360px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -360px;
    z-index: 10;
    background-color: #424242;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 600ms ease-in-out;
}

aside.open {
    left: 0;
}

aside nav {
    margin-top: 60px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

aside nav a {
    padding: 0.5rem 1rem;
    color:rgba(255, 255, 255, 0.6);
}

aside nav a.active,
aside nav a:hover {
    color: white;
}

aside p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}


/* Componente Hero */

.hero {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
}

.hero div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: heroAnimation 18s infinite;
    opacity: 0;
    transform: scale(1.4);
}

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    12% {
        opacity: 1;
    }

    25% {
        transform: scale(1.1);
    }

    75% {
        opacity: 0;
        transform: scale(1);
    }

    100% {
        opacity: 0;
    }
}

.hero div:nth-child(1) {
    background-image: url('../img/front1.jpg');
}

.hero div:nth-child(2) {
    background-image: url('../img/front2.jpg');
    animation-delay: 6s;
}

.hero div:nth-child(3) {
    background-image: url('../img/front3.jpg');
    animation-delay: 12s;

}

.hero .hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: auto;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;

}

@media (max-width: 760px) {
    .hero .hero-logo {
        width: 50%;
    }
}

/* Layout */

.row {
    padding: 1rem; /* Medidas relativas a 1 rem = 16px */
    display: flex;
    flex-wrap: wrap;
}

.row#first {
    margin-top: 100vh;
}

.col-100 {
    width: 100%;
    padding: 0.5rem 1rem;
}

.col-66 {
    width: 66.666666%;
    padding: 0.5rem 1rem;
}

.col-50 {
    width: 50%;
    padding: 0.5rem 1rem;
}

.col-33 {
    width: 33.3333333%;
    padding: 0.5rem 1rem;
}

@media (max-width: 920px) {
    .col-66 {
        width: 100%;
    }
    .col-50 {
        width: 100%;
    }
    .col-33 {
        width: 100%;
    }
}

/* Alineaciones con flex */

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Espaciados y márgenes estándar */

.m-t {
    margin-top: 1rem;
}

.m-b {
    margin-bottom: 1rem;
}

.m-l {
    margin-left: 1rem;
}

.m-r {
    margin-right: 1rem;
}

.m-t-small {
    margin-top: 0.5rem;
}

.m-b-small {
    margin-bottom: 0.5rem;
}

.m-l-small {
    margin-left: 0.5rem;
}

.m-r-small {
    margin-right: 0.5rem;
}

/* Componente de formulario de contact */

form.contact {
    width: 60%;
    margin: 0 auto;
}

form.contact input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-bottom: 2px solid #a97c50;
}

form.contact input:focus {
    outline: none;
    border-bottom: 2px solid #7c5d3d;
}

form.contact input.user {
    background-image: url('../img/user.svg');
    background-repeat: no-repeat;
    background-position: 0 8px;
    padding-left: 1.5rem;
}

form.contact input.email {
    background-image: url('../img/mail-bronce.svg');
    background-repeat: no-repeat;
    background-position: 0 9px;
    padding-left: 1.5rem;
}

form.contact #legal {
    display: none;
}

form.contact label {
    display: block;
    margin-top: 1rem;
    font-size: 0.9rem;
}

form.contact label::before {
    content: url('../img/square.svg');
    position: relative;
    top: 4px;
    padding-right: 5px;
}

#legal:checked + label::before {
    content: url('../img/check-square.svg');
}

/* Footer */

footer {
    background-color: #424242;
}

footer p {
    color: rgba(255, 255, 255, 0.8);
}

footer p:first-child {
    color: #a97c50;
    font-weight: bold;
}

footer .rrss {
    height: 48px;
}

@media (max-width: 920px) {

    iframe {
        height: 360px;
    }

}